.profile-container{
    min-height:100vh;
    background:#0f172a;
    display:flex;
    justify-content:center;
    align-items:center;
}

.profile-card{
    width:500px;
    background:#1e293b;
    padding:40px;
    border-radius:20px;
    color:white;
}

.profile-card h1{
    color:#ff4d6d;
}

.profile-card input{
    width:100%;
    padding:15px;
    margin:10px 0;
    border:none;
    border-radius:10px;
}

.profile-card button{
    width:100%;
    padding:15px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    margin-top:15px;
}